body{
    color: #113662;
    background: url(img/background.png);
    background-color: #B1BEC6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    width: 80%;
    margin: auto;
}
a {
     text-decoration: none;
     color: #1351e0;
}
a:hover{
     color: black;
}
ul{
    DISPLAY: block;
    list-style-type: disc;
    margin: 20px 0;
    padding-left: 40px;
}


.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.header{
    text-align: center;
    font-weight: bolder;
}


#main-header{
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#intro{
    font-size: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px #113662 solid;
    padding: 20px;
}
#intro-img {
    display: flex;
    justify-content: center;
    align-content: center;
}
#img {
    border-radius: 50%;
    width: 50%;
    border: 7px #113662 solid;
}
#main-bar{
    list-style-type: none;
    text-align: center;
    border: 5px #113662 solid;
    background-color: rgba(99, 175, 219, 0.5);
}

#main-bar li{
    display: inline;
    opacity: 1 !important;
}
#main-bar a{
    opacity: 1 !important;
    margin: 0%;
    padding: 20px 5%;
    font-size: 35px;
}


@media screen and (max-width: 1100px){
    .col{
        flex: 1;
    }
}
@media screen and (min-width: 650px){
    .col{
        flex: 1;
    }
}